.root{
  -fx-background-color: #0D16C8;
  -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
}

.label {
 -fx-font-weight: bolder;
 -fx-font-size: 24px;
 -fx-padding: 15px 25px;
 -fx-text-fill: #ffffff;
 -fx-background-color: linear-gradient(rgba(78,75,75,1) 0%, rgba(8,8,8,1) 100%);
 }

 .button {
   -fx-padding: 15px 25px;
   -fx-font-size: 24px;
   -fx-font-weight: bolder;
   -fx-text-fill: #ffffff;
   -fx-cursor: hand;
   -fx-text-alignment: center;
   -fx-text-decoration: none;
   -fx-outline: none;
   -fx-background-color: linear-gradient(rgba(78,75,75,1) 0%, rgba(8,8,8,1) 100%);
   -fx-border: none;
   -fx-background-radius: 30px;
 }

 .button:hover {
 -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
 }